In [1]:
import pandas as pd

In [2]:
template = pd.read_excel('/home/s2/naeunlee/KOPIS/data/question_template.xlsx')

In [3]:
template.head()

                  question  label
0               {}에 대해 알려줘      1
1  {} {} 가장 많이 예약된 공연이 뭐야?      2
2  {} {} 가장 많이 예약된 공연이 뭐야?      2
3     {} 가장 많이 예약된 공연이 뭐야?      2
4         {} 몇 개의 공연이 열렸어?      3

In [9]:
facility = pd.read_excel('/home/s2/naeunlee/KOPIS/data/facility_code.xlsx')['facility'].to_list()
genre = pd.read_excel('/home/s2/naeunlee/KOPIS/data/genre_code.xlsx')['genre'].to_list()
#performance = pd.read_excel('/home/s2/naeunlee/KOPIS/data/performance_code.xlsx')['performance'].to_list()
region = pd.read_excel('/home/s2/naeunlee/KOPIS/data/region_code.xlsx')['region'].to_list()

In [ ]:
total_q = []
total_l = []

In [28]:
for row in template.iterrows():
    q = row[1]['question']
    l = row[1]['label']